.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.size {
  width: 18rem;
  background-color: #61dafb;
  background-image: linear-gradient(rgb(131, 152, 160), rgb(196, 196, 156));
  align-items: center;
}
body {
  background-color: red;
  background-image: linear-gradient(rgb(131, 152, 160), rgb(196, 196, 156));
}
.width {
  width: 400px;
  height: 120px;
  background-color: aliceblue;
  border-radius: 2%;
}
.pad {
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;

  background-image: linear-gradient(rgb(131, 152, 160), rgb(196, 196, 156));
}
.img {
  border-radius: 5%;
  height: fit-content;
  width: fit-content;
}
.color {
  color: coral;
}
.color1 {
  color: rgb(10, 134, 20);
}
